
<div class="row">
  <div class="col-md-8">
    <%= link_to 'New Contractor', new_contractor_path ,class:"btn btn-default"%>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>  </th>
      <th>  </th>
      <th>Name</th>
      <th colspan="4">Contact Details</th>
      <th>License No</th>
      <th>License Class</th>
      <th>Bonding Capacity</th>
      <th>Trade</th>
      <th>Certification Type</th>
      <th>Ownership Type</th>
      <th>SF Certification Number</th>
      <th>SF Vendor Number</th>
      <th>Firm Size</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contractors.each do |contractor| %>
      <tr>
       <td> <%= image_tag contractor.logo.url(:thumb) %> </td> 
       <td><%= contractor.id %></td>
        <td><%= link_to contractor.name, contractor %> </td>
        <td colspan="4"><%= contractor.firstname %> <%= contractor.lastname %> </br> <%= contractor.address %> </br><%= contractor.city %> </br><%= contractor.state %> <%= contractor.zipcode %>
          <br> Ph: <%= contractor.phone %>
          <br> Fax:<%= contractor.fax %>
           <br> <%= contractor.email %>
        </td>
        <td><%= contractor.licenseNo %></td>
        <td><%= contractor.licenseClass %></td>
        <td><%= contractor.bondingcapacity %></td>
        <td>
  <% @trades.each do |name| %>
  <%= name.name %>,
  <% end %></td>
        <td><%= contractor.certificationType %></td>
        <td><%= contractor.ownershipType %></td>
        <td><%= contractor.sfCertificationNumber %></td>
        <td><%= contractor.sfVendorNumber %></td>
         <td><%=contractor.firmSize %></td>
        <td><%= contractor.comments %></td>
        <td>
          <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Action
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to 'Show', contractor %></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to 'Edit', edit_contractor_path(contractor) %></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to 'Destroy', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></a></li>
  </ul>
</div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

