<!DOCTYPE html>
<html>
<head>
  <title>OCME</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

$(document).on('page:change', function (){
        $('#selecctall').click(function(event) {  //on click 
        if(this.checked) { // check select status
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        }else{
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });         
        }
    });

    });
  

</script>
</head>
<body data-no-turbolink>
<%= render 'layouts/header' %>

<div class="container">
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
